* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/*                      Header */
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
nav {
    position: fixed;
    display: flex;
    background-color: white;
    height: 68px;
    width: 100%;
    gap: 5%;
    box-shadow: 0 0 13px #333;
    z-index: 100;
}

.logo {
    font-size: 38px;
    font-weight: bold;
    margin: auto;
}

.logo span {
    color: red;
}

nav ul {
    display: flex;
    margin: auto;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    padding: 8px 15px;
    color: black;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;

}

nav ul li a:hover {
    color: pink;
}

.shop {
    margin: auto
}

.shop a {
    margin: 5px;
    font-size: 22px;
    color: #333;
}

.shop a:hover {
    color: pink;
}

/*                        Home */
.home {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100vh;

}

.home::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(background.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    z-index: -1;
}

.home .content {
    max-width: 50rem;
    margin-left: 6rem;
}

.home .content h3 {
    font-size: 65px;
    font-weight: bold;
    padding: 1rem 0;
}

.home .content span {
    font-size: 44px;
    color: purple;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 1rem 0;
}

.home .content p {
    font-size: 18px;
    padding: 1rem 0;
}

.btn {
    background-color: black;
    padding: 10px 14px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn:hover {
    background-color: rgb(241, 25, 61);
    box-shadow: 0 0 10px rgb(243, 4, 44);
}

/*                      About */
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 47px 0;
}

.about h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 210, 217);
    font-size: 43px;
    font-weight: bold;
    width: 80vw;
    height: 3rem;
    color: rgb(158, 17, 40);
}


.about h1 span {
    margin-left: 10px;
    color: black;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    gap: 35px;
}

.about .row .video-container {
    position: relative;
}

.video-container video {
    height: 17rem;
    width: 30rem;
    box-shadow: 0 0 10px #333;
    object-fit: cover;
    border-radius: 4px;
}


.video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: white;
    width: 100%;
    text-align: center;
    mix-blend-mode: screen;

}

.content h2 {
    font-size: 33px;
    font-weight: bold;
}

.content p {
    margin: 19px 0;
}

/*                     .icon-conta */
.icon-conta {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c4c3c3;
    height: 11rem;
    gap: 2.5rem;
    margin: 3rem 0;
}

.icon-conta .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 14rem;
    height: 5rem;
    gap: 1.2rem;
    border-radius: 5px;
}

.icon-conta .desc {
    display: flex;
    flex-direction: column;

}

.icon-conta .desc span:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.icon-conta div {
    display: flex;

}

.icon-conta div i {
    font-size: 32px;
}

/*                      Product */
.heading h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 210, 217);
    font-size: 43px;
    font-weight: bold;
    width: 80vw;
    height: 3rem;
}

.heading span {
    margin: 10px;
    color: rgb(158, 17, 40);
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 28px 38px;
}

.product .box-container .box {
    width: 18.5rem;
    height: 24rem;
    position: relative;
}

.product .box-container .box:hover {
    box-shadow: 0 0 10px #333;
    transform: scale(1.01);
}

.product .box-container #box-1 {
    background: url(product1.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.product .box-container #box-2 {
    background: url(product2.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.product .box-container #box-3 {
    background: url(product3.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.product .box-container #box-4 {
    background: url(product4.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.product .box-container #box-5 {
    background: url(product5.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.product .box-container #box-6 {
    background: url(product6.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.product .box-container .box .discount {
    background-color: pink;
    width: 54px;
    height: 30px;
    margin: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.product .box-container .box .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product .box-container .box .detail h1 {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.product .box-container .box .detail h1:nth-child(2) {
    bottom: 6px;
    color: rgb(241, 8, 47);
    backdrop-filter: blur(20px);
}

.product .box-container .box .detail h1 strike {
    color: black;
    font-size: 1.3rem;
}

footer {
    background-color: black;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    color: white;
    flex-direction: column;
}

footer .icon {
    display: flex;
    gap: 2rem;
}

footer a {
    color: white;
    font-size: 33px;
}
footer a:hover {
    color: var(--clr);
}

footer p{
    font-size: 20px;
}
footer p span{
    font-size: 23px;
    color: rgb(255, 74, 255);
}