@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
}

html {
    scroll-behavior: smooth;
}

/* --------------------Scroll Animation-------------------- */
.hidden {
    transform: translatey(-70px);
    transition: all 1s;
    opacity: 0;
}

.show-animate {
    transform: translatey(0px);
    opacity: 10;
    transition: all 1s ease-in-out;
}

/* -------------------------header------------------------- */
header {
    z-index: 100;
    position: relative;
}

nav {
    position: fixed;
    background-color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 0 -3px 14px #333;
    width: 100%;
}

nav .heading h1 {
    margin: 0 48px;
    padding: 0 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .heading h1 img {
    height: 50px;
}

nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar ul li {
    list-style: none;

}

nav .navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 18px;
    font-size: 20px;
    position: relative;
}

nav .navbar ul li a::after {
    content: '';
    position: absolute;
    background-color: blue;
    width: 81%;
    height: 0px;
    display: flex;
    left: 10px;
    bottom: 10px;
    border-radius: 20px;
    outline: none;
    transition: 150ms;
}

nav .navbar ul li a:hover::after {
    height: 3px;
    bottom: 3px;
}

nav .navbar ul li a:hover {
    color: blue;
}

/* --------------------------Home-------------------------- */
.home {
    width: 100%;
    height: 100vh;
    background: rgb(167, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
}

.home .heading {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.home .heading h1 {
    font-size: 40px;
    color: rgb(4, 4, 99);
}

.home .heading h1 span {
    color: orangered;
}

.home .heading p {
    font-size: 23px;
    font-weight: bold;
}

.home .heading .dynamic {
    display: flex;
    align-items: center;

}

.home .heading .dynamic .dynamic-txt {
    display: flex;
    flex-direction: column;
    line-height: 60px;
    height: 60px;
    overflow: hidden;
    margin-left: 5px;
}

.home .heading .dynamic-txt li {
    list-style: none;
    position: relative;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    color: purple;
    animation: slide-up 4s infinite alternate steps(4);
}

.home .heading .dynamic-txt li::after {
    content: '';
    position: absolute;
    border-left: 3px solid black;
    height: 100%;
    width: 0px;
    right: 0;
    background-color: rgb(167, 243, 243);
    animation: typing 2s steps(20) infinite alternate;
}

@keyframes typing {
    to {
        width: 110%;
    }
}

@keyframes slide-up {
    to {
        top: -58px;
    }
}

.home .heading>a {
    display: flex;
    align-items: center;
    padding-left: 18px;
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
    border-radius: 32px;
    outline: none;
    margin: 7px 0;
    width: 9rem;
    height: 3rem;
    text-decoration: none;
    font-size: 17px;
    gap: 6px;
}

.home .heading>a>i {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    color: blue;
    border-radius: 10px;
    outline: none;
    width: 17px;
    height: 17px;
}

.home .heading>a:hover {
    background-color: blue;
    box-shadow: 0 0 20px blue;
    color: white;
    transition: .2s ease-out;
    gap: 12px;
}

.home .heading .icon {
    display: flex;
    gap: 18px;
    margin: 12px 0px;
}

.home .heading .icon a {
    padding: 0 0;
    font-size: 25px;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    outline: none;
    color: rgb(0, 154, 203);
    background: #000029;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.home .heading .icon a:hover {
    background-color: var(--clr);
    color: white;
    transition: .2s;
}

.home .photo {
    box-shadow: 0 0 20px orangered;
    border-radius: 50%;
    outline: none;
    width: 380px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .photo img {
    height: 332px;
    width: 332px;
}

/* ----------------------------About---------------------------- */

.about {
    height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about .heading {
    font-size: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about .heading i {
    margin: 0px 13px;
}

.about .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 64%;
    gap: 6rem;
}

.about .detail .photo {
    display: flex;
    align-items: center;
}

.about .detail .photo img {
    height: 23rem;
    width: 17rem;
    border-radius: 20px;
    outline: none;
    outline: none;
    box-shadow: 3px 3px 10px #333;
    filter: grayscale();
}

.about .detail .photo img:hover {
    filter: none;
    transition: .2s;
}

.about .detail .info {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
}

.about .detail .info h1 {
    font-size: 2rem;
    font-weight: bold;
    transition-delay: 100ms;
}

.about .detail .info>span {
    font-size: 1.2rem;
    font-weight: bold;
}

.about .detail .info p {
    margin: 9px 0;
}

.about .detail .info p:nth-child(1) {
    transition-delay: 200ms;
}

.about .detail .info p:nth-child(2) {
    transition-delay: 300ms;
}

.about .detail .info p:nth-child(3) {
    transition-delay: 400ms;
}

.about .detail .info p span {
    color: blue;
}

.about .detail .info a {
    color: white;
    background-color: rgb(0, 0, 107);
    width: 127px;
    height: 52px;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    padding: 0 18px;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
    overflow-y: hidden;
    transition-delay: 400ms;
    gap: 6px;
}

.about .detail .info a:hover {
    background-color: rgb(0, 0, 68);
    transition: .3s;
    gap: 12px;
}




/* -----------------------Skills----------------------- */
.skills {
    height: 100vh;
    width: 100%;
    background-color: rgb(61 0 142);
}

.skills .heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .heading h1 i {
    margin: 0 5px;
}

.skills .heading h1 {
    color: white;
    font-size: 2.3rem;
}

.skills .heading h1 span {
    color: yellow;
}

.skills .icon {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    margin: 2rem 8rem;
    background-color: rgb(30 0 70);
    border-radius: 15px;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 83%;
    height: 84%;
}

.skills .icon .box {
    height: 162px;
    width: 159px;
    background-color: #050026;
    border-radius: 10px;
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills .icon .box img {
    height: 100px;
}

.skills .icon .box h2 {
    color: white;
}

.skills .icon .box:hover {
    background-color: #02000e;
    transition: 100ms;
    backdrop-filter: calc(10px);
    box-shadow: 3px 3px 10px black;
    transform: scale(1.1);
}

/* --------------------Project-------------------- */
.projects {
    background-color: rgb(1, 1, 37);
    width: 100%;
    height: 100vh;
}

.projects .heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .heading h1 {
    color: white;
    font-size: 2.3rem;
}

.projects .heading h1 span {
    color: yellow;
}

.projects .heading h1 i {
    margin: 0px 5px;
}

.projects .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 84%;
    margin: 2rem 0rem;

}

.projects .container .box {
    height: 230px;
    width: 407px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 0rem 2rem;
}

.projects .container .box h1 {
    position: absolute;
    z-index: 2;
    bottom: 1px;
    width: 100%;
    border-bottom-left-radius: 10px;
    outline: none;
    border-bottom-right-radius: 10px;
    background-color: yellow;
    text-align: center;
    padding: 0.2rem 2rem;
}

.projects .container .box video {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    outline: none;
    box-shadow: 3px 3px 9px black;
    position: relative;
}

.projects .container .box:hover {
    transform: scale(1.1);
    transition: all 200ms;
}

/* ----------------------Education---------------------- */
.education {
    height: 100vh;
    width: 100%;
    background-color: rgb(223, 242, 250);
}

.education .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.education .heading h1 {
    font-size: 2.3rem;
    color: black;
}

.education .heading span {
    color: rgb(61 0 142);
}

.education .heading i {
    margin: 7px;
}

.education .heading p {
    margin: 7px;
    font-size: 1.1rem;
}

.education .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: 84%;
}

.education .container .box {
    width: 60%;
    height: 200px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 2px 10px #333;
}

.education .container .box:hover {
    box-shadow: 5px 5px 10px #333;
    transition: 1ms;
}

.education .container .box img {
    height: 100%;
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}

.education .container .box:nth-child(2) {
    transition-delay: 300ms;
}

.education .container .box .detail {
    padding: 1rem;
}

.education .container .box .detail h1 {
    color: rgb(0, 0, 124);
}

.education .container .box .detail h3 {
    color: green;
}

.education .container .box .detail p {
    margin: 1rem 0;
}

/* -----------------Contact----------------- */
.contact {
    height: 90vh;
    width: 100%;
    background-color: rgb(31, 108, 252);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contact .heading h1 {
    font-size: 2.3rem;
    margin: 7px 0;
    color: black;
}

.contact .heading span {
    color: rgb(240 240 240);
}

.contact .heading i {
    margin: 7px;
}

.contact .container {
    height: 27rem;
    width: 73%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
}

.contact .container .info {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 25rem;
}


.contact .container .info input::placeholder {
    font-size: 1.1rem;
}

.contact .container .info input {
    z-index: 1;
    position: relative;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: none;
    border: 1px solid black;
    background-color: rgb(223, 242, 250);
    font-size: 1.1rem;
    outline: none;
    padding: 1rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact .container .info input:focus {
    border: 2px solid purple;
}

.contact .container .info textarea::placeholder {
    font-size: 1.1rem;
}

.contact .container .info textarea {
    width: 100%;
    height: 8rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    border: 1px solid black;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: rgb(223, 242, 250);
    outline: none;
}

.contact .container .info textarea:focus {
    border: 2px solid purple;
}

.contact .container .info a {
    height: 3rem;
    width: 8rem;
    background-color: rgb(76, 0, 255);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    margin: 0 1rem;
    font-size: 18px;
    gap: 5px;
}

.contact .container .info a:hover {
    background-color: rgba(76, 0, 255, 0.842);
    gap: 12px;
    transition: 200ms;
}

/* ------------------------Footer------------------------ */
footer {
    width: 100%;
    height: 49vh;
    background-color: rgb(1, 1, 43);
    color: white;
}

footer .container {
    display: flex;
    justify-content: center;
    height: 41vh;
    gap: 3rem;
}

footer .regards {
    width: 304px;
    font-size: 15px;
    margin-top: 11px;
}

footer .regards p {
    margin: 1rem 0;
}

footer .links {
    width: 304px;
    margin-top: 11px;
}

footer .links ul {
    margin: 19px 0;
}

footer .links ul li {
    list-style: none;
    margin: 5px 0;
}

footer .links ul li a {
    text-decoration: none;
    color: white;
}

footer .links ul li a i {
    margin-right: 4px;
}

footer .links ul li a:hover {
    color: yellow;
}

footer .info {
    width: 304px;
    margin-top: 11px;
}

footer .info p {
    margin: 1rem 0;
}

footer .info p i {
    margin-right: 10px;
    color: yellow;

}

footer .info .icon {
    display: flex;
    flex-direction: row;
    gap: .7rem;
}

footer .info .icon a {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    height: 2.7rem;
    width: 2.7rem;
    color: #000029;
}

footer .info .icon a:hover {
    color: yellow;
    background-color: #000029;
    border: 2px solid wheat;
    transition: 200ms;
}

footer p:last-child {
    display: flex;
    justify-content: center;
    margin: .6rem 0;
}

footer p:last-child span {
    color: yellow;
    margin-left: 5px;
}

footer p:last-child i {
    color: red;
    margin: 4px 7px;
}

footer hr {
    width: 82%;
    margin: auto;
}