@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
}

nav {
    background-color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 0 -3px 14px #333;
    ;
}

nav .heading h1 {
    margin: 0 48px;
    padding: 0 73px;
}

nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar ul li {
    list-style: none;

}

nav .navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 18px;
    font-size: 20px;
    position: relative;
}

nav .navbar ul li a::after {
    content: '';
    position: absolute;
    background-color: blue;
    width: 81%;
    height: 0px;
    display: flex;
    left: 10px;
    bottom: 10px;
    border-radius: 20px;
    transition: 150ms;
}

nav .navbar ul li a:hover::after {
    height: 3px;
    bottom: 3px;
}

nav .navbar ul li a:hover {
    color: blue;

}